streamlit
pandas
googletrans==4.0.0-rc1  
pytesseract
sudo apt-get update
openpyxl 
xlrd                      
numpy 
python-docx
streamlit
pandas
requests
json5
streamlit-lottie
pandas-profiling==3.2.0
pdf2image
Pillow
pytesseract
fuzzywuzzy
tabulate
opencv-python-headless
pdf2image
Pillow
fuzzywuzzy
python-Levenshtein
streamlit-lottie
openpyxl  
xlrd 
pdf2image
PyMuPDF
# Attempt to install system-level packages
!apt-get update && apt-get install -y poppler-utils
!apt-get update && apt-get install -y tesseract-ocr
